.service-text {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    background: linear-gradient(90deg, #0033FF 0%, #7DBBFD 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}