.card-border {
  &.card-border-animated {
    position: relative;
    padding: 40px;
    border-radius: 24px;
    background: rgba(245, 245, 245, 0.01);
    backdrop-filter: blur(15.3191px);
    width: 400px;
    border: 2px solid transparent;
    background-clip: padding-box;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 24px;
      padding: 2px;
      background: linear-gradient(45deg,
          #9147FE,
          #C73AFF,
          #8E3DFF,
          #9147FE);
      background-size: 300% 300%;
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: exclude;
      z-index: -1;
      animation: borderRotate 3s linear infinite;
    }
  }

  &.card-blue {
    position: relative;
    padding: 40px;
    border-radius: 24px;
    background: rgba(245, 245, 245, 0.01);
    backdrop-filter: blur(15.3191px);
    width: 400px;
    border: 2px solid transparent;
    background-clip: padding-box;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 24px;
      padding: 2px;
      background: linear-gradient(45deg,
          #3D96FF,
          #3A71FF,
          #5AA9FF,
          #3D96FF);
      background-size: 300% 300%;
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: exclude;
      z-index: -1;
      animation: borderRotate 3s linear infinite;
    }

    .card-bottom-text {
      color: #1778F2;
    }
  }

  .card-title {
    font-size: 40px;
    line-height: 40px;
    position: relative;
    font-family: "Inter", sans-serif;

    &.card-title-purple {
      color: #9147FE;

      &::before {
        background: #9147FE;
      }
    }

    &.card-title-blue {
      color: #1778F2;

      &::before {
        background: #1778F2;
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      left: -20px;
      top: 15px;
      z-index: 30;
      border-radius: 50%;
    }
  }

  @keyframes borderRotate {
    0% {
      background-position: 0% 50%;
    }

    100% {
      background-position: 100% 50%;
    }
  }
}

@media screen and (max-width : 768px) {

  .card-border {

    &.card-border-animated {
      width: 100%;
    }

    .card-title {
      font-size: 26px;
      line-height: normal;
    }
  }
}